<div class="row">
    <div class="col">
        <h2>Edit review</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="description" rows="5" placeholder="Description" class="form-control" [ngClass]="formUtils.handleValidationStateClass(form, 'description')"></textarea>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'description', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>User</label>
                        <input type="text" formControlName="user" class="form-control" placeholder="User" [ngClass]="formUtils.handleValidationStateClass(form, 'user')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'user', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Ups</label>
                        <input type="number" formControlName="ups" class="form-control" placeholder="Ups" [ngClass]="formUtils.handleValidationStateClass(form, 'ups')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'ups', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Downs</label>
                        <input type="number" formControlName="downs" class="form-control" placeholder="Downs" [ngClass]="formUtils.handleValidationStateClass(form, 'downs')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'downs', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Rate</label>
                        <input type="number" formControlName="rate" class="form-control" placeholder="Rate" [ngClass]="formUtils.handleValidationStateClass(form, 'rate')">
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'rate', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <br>
                        <p-calendar formControlName="date" showTime="true" hourFormat="24" placeholder="Date"></p-calendar>
                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form, 'rate', messages) }} </span>
                    </div>
                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-danger btn-lg float-right" [disabled]="!form.valid || inProgress"><i class="fas fa-save"></i> Save</button>
            <span class="invalid-feedback"> {{ error }} </span>
        </form>
        <br><br><br><br>
    </div>
</div>
