<div class="row">
    <div class="col">
        <h2>Reviews list</h2>
    </div>
</div>

<!--table-->
<table class="table" *ngIf="reviews.length > 0">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Description</th>
        <th>Ups</th>
        <th>Downs</th>
        <th>Rate</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let review of reviews">
        <th>{{ review.id }}</th>
        <td>{{ review.user.name }}</td>
        <td>{{ review.description }}</td>
        <td>{{ review.ups }}</td>
        <td>{{ review.downs }}</td>
        <td>{{ review.rate}}</td>
        <td>{{ review.date | date: "d/M/yyy HH:mm"}}</td>
        <td>
            <a [routerLink]="'/database/reviews/' + review.id" class="btn btn-outline-secondary">Edit</a>
            <button class="btn btn-outline-secondary" (click)="onExportReviewToTxt(review.id)">Export to TXT</button>
        </td>
    </tr>
    </tbody>
</table>
<p *ngIf="reviews.length == 0">No products</p>
<br>

<div class="row">
    <div class="col">
        <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
    </div>
</div>


