<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Database</h1>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
