<div class="row">
    <div class="col">
        <h2>Products list</h2>
    </div>
</div>

<!--filters-->
<div class="row">
    <div class="col">
        <form [formGroup]="form">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" formControlName="search">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Reviews form" formControlName="reviewsFrom">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Reviews to" formControlName="reviewsTo">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <p-calendar formControlName="dateFrom" showTime="true" hourFormat="24" placeholder="Date from" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                    <div class="form-group">
                        <p-calendar formControlName="dateTo" showTime="true" hourFormat="24" placeholder="Date to" [dateFormat]="'dd/mm/yy'"></p-calendar>
                    </div>
                </div>
                <div class="col">
                    <button class="btn btn-outline-secondary float-right" (click)="onClearDatabase()">Clear database</button>
                    <button class="btn btn-outline-secondary float-right" (click)="onExportToCSV()">Export to CSV</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--table-->
<table class="table" *ngIf="products.length > 0">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Reviews</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <th>{{ product.id }}</th>
            <td><img [src]="product.image" alt="" class="product-image img-fluid"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.reviews_count }}</td>
            <td>{{ product.created | date: "d/M/yyy HH:mm"}}</td>
            <td>
                <a [routerLink]="'/database/products/' + product.id" class="btn btn-outline-secondary">Edit</a>
                <a [routerLink]="'/database/products/' + product.id + '/reviews'" class="btn btn-outline-secondary">Reviews</a>
                <button class="btn btn-outline-secondary" (click)="onExportProductToTxt(product.id)">Export to TXT</button>
            </td>
        </tr>
    </tbody>
</table>
<p *ngIf="products.length == 0">No products</p>
<br>

<div class="row">
    <div class="col">
        <app-pagination (pageChanged)="onPageChange($event)" [numberOfPages]="pages" [currentPage]="page"></app-pagination>
    </div>
</div>


