
<div class="row">
    <div class="col">
        <h2>Edit product</h2>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name" [ngClass]="formUtils.handleValidationStateClass(form, 'name')">
                        <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'name', messages) }} </span>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <br>
                        <img *ngIf="product" [src]="product.image" alt="" class="img-fluid">

                        <input type="text" class="form-control" class="d-none" formControlName="image">
                        <input type="file" (change)="onFileChange($event)" class="d-none" #fileInput>
                        <br>
                        <br>
                        <button type="button" class="btn btn-outline-secondary" (click)="fileInput.click()"><i class="fas fa-upload"></i> Upload</button>
                        <br>
                        <br>
                        <span class="red" >{{ formUtils.handleValidationErrorMessage(form, 'image', messages) }} </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h5>Attributes <span (click)="onAddAttribute()"><i class="fas fa-plus "></i></span></h5>
                </div>
            </div>
            <div formArrayName="attributes">
                <div *ngFor="let control of form.get('attributes')['controls']; let i = index" [formGroupName]="i" class="row">
                    <div class="col">
                        <span (click)="onRemoveAttribute(i)"><i class="fas fa-times float-right"></i></span>
                        <br>
                        <div class="form-group">
                            <input formControlName="name" type="text" class="form-control" placeholder="Attribute name" [ngClass]="formUtils.handleValidationStateClass(form.get('attributes')['controls'][i], 'name')">
                            <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(form.get('attributes')["controls"][i], 'name', attributeFormMessages) }} </span>
                        </div>
                    </div>

                    <!--values-->
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h5>Values <span (click)="onAddAttributeValue(i)"><i class="fas fa-plus"></i></span></h5>
                            </div>
                        </div>
                        <div formArrayName="values">
                            <div *ngFor="let valueControl of control.get('values')['controls']; let j = index" [formGroupName]="j" class="row">
                                <div class="col">
                                    <span (click)="onRemoveAttributeValue(i, j)"><i class="fas fa-times float-right"></i></span>
                                    <br>
                                    <div class="form-group">
                                        <input formControlName="value" type="text" class="form-control" placeholder="Attribute value" [ngClass]="formUtils.handleValidationStateClass(control.get('values')['controls'][j], 'value')">
                                        <span class="invalid-feedback">{{ formUtils.handleValidationErrorMessage(control.get('values')['controls'][j], 'value', valueFormMessages) }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-danger btn-lg float-right" [disabled]="!form.valid || inProgress"><i class="fas fa-save"></i> Save</button>
            <span class="invalid-feedback"> {{ error }} </span>
        </form>
        <br><br><br><br>
    </div>
</div>
