
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">ETL Reviews app</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" href="#" routerLink="/" >ETL process</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="#" routerLink="database/products">Database</a>
            </li>
        </ul>
    </div>
</nav>

<!--content-->
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

