<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ETL process</h1>
            <p class="lead">Type product name to fetch reviews about it</p>
        </div>
    </div>

    <!--form-->
    <div class="row">
        <div class="col">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search"  autocomplete="off" formControlName="search" [ngClass]="formUtils.handleValidationStateClass(form, 'search')">
                            <span class="invalid-feedback"> {{ formUtils.handleValidationErrorMessage(form, 'search', messages) }} </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger etl-button" [disabled]="etlStateService.inProgress">ETL</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 offset-2 text-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-danger" [disabled]="etlStateService.inProgress" (click)="onExtract()">Extract</button>
                            <button type="button" class="btn btn-outline-danger" [disabled]="etlStateService.inProgress || !etlStateService.extract" (click)="onTransform()">Transform</button>
                            <button type="button" class="btn btn-outline-danger" [disabled]="etlStateService.inProgress || !etlStateService.transform" (click)="onLoad()">Load</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>

    <!--logs-->
    <h3>Logs</h3>
    <div class="row">
        <div class="col">
            <div class="logs-container">
                <ul class="list-group" *ngIf="etlStateService.logs.length > 0">
                    <li class="list-group-item" *ngFor="let log of etlStateService.logs.reverse()">{{ log.date | date: "d/M/yyy HH:mm"}} | {{ log.message }}</li>
                </ul>
                <span class="text-muted" *ngIf="etlStateService.logs.length == 0">No logs</span>
            </div>
        </div>
    </div>
</div>
